

.button_box{
    text-align: center;
    font-size: 20px;
}
.button_box a{
    background-color: rgb(28, 131, 228);
    color: aliceblue;
    text-decoration: none;
   
    padding: 5px;
    border-radius: 10px;

}