{% extends 'base.html' %} {% load static %} {% block css %} 
<link rel="stylesheet" href="{% static 'css/daftarbuku/style.css' %}">
{% endblock css %}

{% block meta %}
<title>Daftar - Buku</title>
{% endblock meta %}

{% block content %}

<h1 id="judul">DAFTAR BUKU <i class="fas fa-book"></i></h1>

{% if user.is_authenticated %}
<p style="text-align: center; text-transform: capitalize;">Halo {{user.username}} Selamat Mencari Buku!</p>
{% else %}
<p style="text-align: center;">Silahkan Login Untuk Mencari Buku</p>
{% endif %}

<div class="input_box">
    <input type="text" name="" id="pencarian" placeholder="cari buku disini">
</div>

<div class="tabel_box">
<table id="tabel_buku">
    <thead>
        <tr>
            <th>Nomor</th>
            <th class="judulbuku">Judul</th>
            <th>Cover</th>
        </tr>
    </thead>
    <tbody id="daftar_isi">
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
</div>

<script>
    $("#pencarian").keyup(function(){
        var keyword = $("#pencarian").val();
        if(keyword != ""){
           
            $.ajax({
            url: 'caribuku?q='+keyword,
            success: function(data){
                $("table").css("visibility","visible");
                var array_items = data.items;
                $("#daftar_isi").empty();
                for(i = 0; i < array_items.length; i++){
                    var judul = array_items[i].volumeInfo.title;
                    var gambar = array_items[i].volumeInfo.imageLinks.smallThumbnail;
                    var nomor = i+1
                    $("#daftar_isi").append("<tr><td>"+ nomor +"</td><td class='judulbuku'>" + judul + "</td><td> <img src=" + gambar + "></td></tr>");
                    }
                }
            });
        }
    });
</script>
{% endblock content %}
