@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    background-color: whitesmoke;
  }

#judul{
  font-weight: bolder;
  text-align: center;
}

/*=========================================== NAVBAR ===================================================*/

header{
  background-color: rgba(245, 245, 245, 1);
  margin:0;
  padding: 0;
  position: fixed;
  z-index: 100;
  width: 100%;
  text-align: center;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.555);
}

.navbutton{
  display: inline-block;
  margin: 0 25px 0 0;
}

.navbutton_content{
  text-decoration:none ;
  font-weight: 700;
  color: black;
  position: relative;
}
.navlist .navbutton .navdropdown{
  position: absolute;
  display: none;
  
  background-color: #f9f9f9;  
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.555);
}

.navlist .navbutton .navdropdown a{
  text-decoration: none;
  font-weight: bold;
  color: black;
  display: block;
  text-align: left;
  padding: 10px 5px;
}
#dropdown:hover .navdropdown{
  display: block;
}
.navdropdown :hover{
  background-color: #f1f1f1e5;
}

