{% extends 'base.html' %} {% load static %} {% block css %} 
<link rel="stylesheet" href="{% static 'css/otentikasi/style.css' %}">
{% endblock css %}

{% block meta %}
<title>JSQUERY - LOGIN</title>
{% endblock meta %}
    

{% block content %}

<h1 id="judul">LOGIN</h1>

<form method="post">
    {% csrf_token %}
    <table class="form_in">
        <tr>
          <td><label for="username">Username</label></td>
          <td><input type="text" required  name="username"></td>
        </tr>
        <tr>
          <td> <label for="password">password</label></td>
          <td> <input type="password" required  name="password"></td>
        </tr>
          <tr>
            <td><input type="submit" value="Submit"></td>
            <td></td>
          </tr>
    </table>

</form>
{% endblock content %}
