{% extends 'base.html' %} {% load static %} {% block css %} 
<link rel="stylesheet" href="{% static 'css/otentikasi/style.css' %}">
{% endblock css %}

{% block meta %}
<title>JSQUERY - SIGNUP</title>
{% endblock meta %}

{% block content %}

<h1 id="judul">SIGNUP</h1>

<form method="post">
    {% csrf_token %}
    <table class="form_in">
        <tr>
          <td><label for="username">Username</label></td>
          <td><input type="text" required  name="username"></td>
        </tr>
        <tr>
          <td><label for="email">Email</label></td>
          <td><input type="text" required  name="email"></td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td><input type="password" required  name="password"></td>
          </tr>
          <tr>
            <td><label for="confirmPass">Confirm Password</label></td>
            <td><input type="password" required  name="confirmPass"></td>
          </tr>
          <tr>
            <td><input type="submit" value="Submit"></td>
            <td></td>
          </tr>
    </table>
    <br>
</form>

    <div style="background-color: red; display: inline-block; "> {{pesan}} </div>
{% endblock content %}
