
.input_box{
    text-align: center;
    margin: 10px;
}
#pencarian{
    width: 300px;
    height: 25px;
    border-radius: 10px;
    text-align: center;
}


#tabel_buku{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    visibility: hidden;
    
}

#tabel_buku th, #tabel_buku td{
    border: 2px solid black;
    padding: 10px;
}

#tabel_buku thead{
    background-color:orange;
}
#tabel_buku tbody{
    background-color:wheat;
}
#tabel_buku .judul_buku{
    display: inline-block;
    max-width: 100px;
}
