{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="https://kit.fontawesome.com/1364b7831e.js" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/excite-bike/jquery-ui.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  {% block css %} {% endblock css %}
  {% block meta %} {% endblock meta %}
</head>

<body>
  <header>
    <ul class="navlist">
        <li class="navbutton"><a href="/" class="navbutton_content">HOME</a></li>
        <li class="navbutton" id="dropdown">
          <a href="#" class="navbutton_content">ACCORDION</a>
          <div class="navdropdown">
            <a href="/accordion/">UP-DOWN ACCORDION</a>
          </div>
        </li>
        <li class="navbutton" id="dropdown">
          <a href="#" class="navbutton_content">AJAX</a>
          <div class="navdropdown">
            <a href="/daftarbuku/">DAFTAR BUKU</a>
          </div>
        </li>
        <li class="navbutton" id="dropdown">
          <a href="#" class="navbutton_content">MORE</a>
          <div class="navdropdown">
            <a href="http://mystory-thoriq.herokuapp.com/story1/">STORY1</a>
            <a href="http://mystory-thoriq.herokuapp.com">PRA UTS</a>
          </div>
        </li>
        <li class="navbutton" id="dropdown">
          {% if user.is_authenticated %}
          <a href="#" class="navbutton_content" style="text-transform: uppercase; "><i class="fas fa-user" style="color: rgb(28, 131, 228);"></i> <span> </span> Hi! {{user.username}}</a>
          <div class="navdropdown">
            <a href="/otentikasi/logout/?nextPage={{ next }}">LOGOUT</a>
          {% else %}
          <a href="#" class="navbutton_content">LOGIN</a>
          <div class="navdropdown">
            <a href="/otentikasi/login/?nextPage={{ next }}">LOGIN</a>
            <a href="/otentikasi/signup/?nextPage={{ next }}" >SIGN UP</a>
          {% endif %}
          </div>
        </li>
    </ul>
</header>
<br>
<br>
<br>

  {% block content %}
  {% endblock content %}
</body>

</html>
