{% extends 'base.html' %} {% load static %} {% block css %} 
<link rel="stylesheet" href="{% static 'css/home/style.css' %}">
{% endblock css %}

{% block meta %}
<title>PPW - JSQUERY</title>
{% endblock meta %}

{% block content %}
{% if user.is_authenticated %}
<h1 style="text-align: center; text-transform: uppercase;"> HALO! {{user.username}}</h1>
{% endif %}
<h1 id="judul"> SELAMAT DATANG DI PPW PASCA UTS</h1>

<div class="button_box">
    kembali ke
<a href="http://mystory-thoriq.herokuapp.com/"><i class="fas fa-arrow-left"></i> PRA UTS</a>
</div>
{% endblock content %}
