{% extends 'base.html' %} {% load static %} {% block css %} 
<link rel="stylesheet" href="{% static 'css/accordion/style.css' %}">
{% endblock css %}

{% block meta %}
<title>Accordion - Profile</title>
{% endblock meta %}

{% block content %}

<h1 id="judul">INI PROFILKU, MANA PROFILMU</h1>

<div class="box">
<div id="accordionGroup">
  <div>AKTIVITAS SAAT INI <span><i class="fas fa-arrow-alt-circle-up" id="up1"></i></span> <span><i class="fas fa-arrow-alt-circle-down" id="down1"></i></span> </div>
  <div>
    <p>
      mengerjakan ppw
    </p>
  </div>
  <div>PENGALAMAN ORGANISASI/KEPANITIAAN <span><i class="fas fa-arrow-alt-circle-up" id="up2"></i></span> <span><i class="fas fa-arrow-alt-circle-down" id="down2"></i></span> </div>
  <div>
    <p>
      COMPFEST - SPONSOR
    </p>
  </div>
  <div>PRESTASI <span><i class="fas fa-arrow-alt-circle-up" id="up3"></i></span> <span><i class="fas fa-arrow-alt-circle-down" id="down3"></i></span> </div>
  <div>
    <p>
      masuk fasilkom
    </p>
  </div>
  <div>SKILL <span><i class="fas fa-arrow-alt-circle-up" id="up4"></i></span> <span><i class="fas fa-arrow-alt-circle-down" id="down4"></i></span> </div>
  <div>
    <p>
      pasti ngoding lah
    </p>
  </div>

</div>
</div>
<script>
  $("#accordionGroup").accordion({
    "collapsible":true,
    active : 'none'
  });
  $(".fa-arrow-alt-circle-down").mousedown(function(){
    const headnow = $(this).parent().parent();
    const bodynow = headnow.next();
    const headnext = bodynow.next();
    const bodynext = headnext.next();

    headnow.insertAfter(bodynext);
    bodynow.insertAfter(headnow);

    headnow.removeClass(".ui-state-active");
  });
  $(".fa-arrow-alt-circle-down").mouseup(function(){
    const headnow = $(this).parent().parent();
    const bodynow = headnow.next()
    headnow.removeClass(".ui-state-active");
    bodynow.css("display","none")
  });


  $(".fa-arrow-alt-circle-up").mousedown(function(){
    const headnow = $(this).parent().parent();
    const bodynow = headnow.next();
    const bodyprev = headnow.prev();
    const headprev = bodyprev.prev();
  
    bodynow.insertBefore(headprev);
    headnow.insertBefore(bodynow);
  });
  $(".fa-arrow-alt-circle-up").mouseup(function(){
    const headnow = $(this).parent().parent();
    const bodynow = headnow.next();
    headnow.removeClass(".ui-state-active");
    bodynow.css("display","none")
  });
</script>
{% endblock content %}
